/Alg1.py
/AlgoExpertGroupPrac1.py
/Area_of_triangle.py
/Banjo.py
/BinarySearchFriday.py
/BinarySearchFriday2.py
/BinarySearchTutuorial.py
/BinarySort1.py
/BubbleSort.py
/calc.py
/Calculator.py
/CraigFunc1.py
/Dictionary.py
/DSA Basics.py
/Fibonacci.py
/first = 'John'.py
/Friday23.py
/HelloWorld.py
/Leetcode_practice.py
/LinearSearchFriday.py
/LinkedInPython.txt
/Mosh1.py
/Palindrome.py
/PythonPracticeLM.py
/PythonSearchAlgorithms.py
/PythonSortAlgorithms.py
/RPG
/SelectionSort.py
/Sorting_Visualizer
/TechInterview.py